[mysqld]

default-authentication-plugin = mysql_native_password
log_timestamps = SYSTEM
datadir = /var/lib/mysql

ndbcluster
ndb-connectstring = nodeid=1;host=mysql-cluster-mgm:1186
user = root

[mysql_cluster]
ndb-connectstring = nodeid=1;host=mysql-cluster-mgm:1186