[mysqld]

default-authentication-plugin = mysql_native_password
log_timestamps = SYSTEM
datadir = /var/lib/mysql
default_storage_engine=ndbcluster

ndbcluster
ndb-connectstring = 172.18.0.2
user = root

[mysql_cluster]
ndb-connectstring = 172.18.0.2